.background{
  position: fixed;
  width: 100%;
  height: 100%;
  .backgroundImage{
    width: 100%;
    height: 100%;
    filter: blur(100px);
  }
}

.genreList{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: 400px;
  margin-top: 10%;
  margin-left: 2%;
  
  .genreContainer{
    background-color: white;
    height: 17%;
    width: 100%;
    cursor: pointer;
    margin-bottom: 8px;
    box-shadow: 0 24px 28px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.2s ease-in-out;

    .genreIcon{
      color: black;
      position: absolute;
      font-size: xx-large;
      margin-left: 8%;
    }

    .genreTitle{
      color: black;
      margin-left: 36%;
    }
  }

  .genreContainer:hover {
    transform: scale(1.05);
  }
}



.songsList{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 300px;
  height: 500px;
  margin-left: 11%;
  margin-top: 10%;

  .songContainer {
    height: 17%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 95%;
    margin-bottom: 8px;
    border-radius: 20px;
    box-shadow: 0 24px 28px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    position: relative;

    .songImage{
      position: absolute;
      margin-left: 3%;
      max-width: 20%;
      max-height: 80%;
      width: 20%;
      height: 80%;
      border-radius: 20px;
    }

    .songTitle{
      color: black;
      margin-left: 28%;
    }

    .songOwner{
      margin-top: -5%;
      color: black;
      font-size: small;
      margin-left: 28%;
    }
  }

  .songContainer:hover {
    transform: scale(1.05);
  }
}

.player{
  margin-top: 25vh;
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 500px;
  background-color: white;
  border-radius: 5%;
  position: relative;
  box-shadow: 0 24px 28px rgba(0, 0, 0, 0.5);

  .songImage{
    position: absolute;
    top: 17%;
    left: 50%;
    max-height: 50%;
    max-width: 70%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 50%;
    border-radius: 20px;
    box-shadow: 0 24px 28px rgba(0, 0, 0, 0.5);
  }
  
  ion-range {
    flex-grow: 1;
  }

  .songTitle{
    margin-top: 50%;
    color: black;
  }

  .songOwner{
    margin-top: -1%;
    color: black;
  }

  .progress-container {
    display: flex;
    align-items: center;
    width: 90%;

    .currentSongTime{
      margin-right: 2%;
    }

    .currentSongDuration{
      margin-left: 2%;
    }

    span {
      font-size: 14px;
      color: black;
      width: 40px;
      text-align: center;
    }

    .songProgressBar {
      --bar-background: rgb(201, 201, 201); 
      --bar-background-active: black; 
      --knob-background: black; 
    }
  }
  
  .playerControlsContainer{
    font-size: 40px;
    color: black;
    cursor: pointer;
  }
}

.volumeController{
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  background-color: white;
  border-radius: 20px;
  width: 200px;
  height: 50px;
  margin-left: 80%;
  box-shadow: 0 24px 28px rgba(0, 0, 0, 0.5);

  .volumeIcon{
    color: black;
    position: absolute;
    margin-left: 3%;
    font-size: x-large;
  }

  .volumeBar{
    width: 75%;
    margin-left: 16%;
    --bar-background: rgb(201, 201, 201); 
    --bar-background-active: black; 
    --knob-background: black; 
  }
}

