.background{
  position: fixed;
  width: 100%;
  height: 100%;
  .backgroundImage{
    width: 100%;
    height: 100%;
    filter: blur(100px);
  }
}

.songsList{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 300px;
  height: 500px;
  margin-left: 3%;
  margin-top: 5%;

  .songContainer {
    height: 17%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 95%;
    margin-bottom: 8px;
    border-radius: 20px;
    box-shadow: 0 24px 28px rgba(0, 0, 0, 0.5);
    cursor: pointer;

    .songImage{
      position: absolute;
      margin-left: 3%;
      max-width: 20%;
      max-height: 13%;
      width: 20%;
      height: 13%;
      border-radius: 20px;
      box-shadow: 0 24px 28px rgba(0, 0, 0, 0.5);
    }

    .songTitle{
      color: black;
      margin-left: 28%;
    }

    .songOwner{
      margin-top: -5%;
      color: black;
      font-size: small;
      margin-left: 28%;
    }
  }
}

.player{
  margin-top: 25vh;
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 500px;
  background-color: white;
  border-radius: 5%;
  position: relative;
  box-shadow: 0 24px 28px rgba(0, 0, 0, 0.5);

  .songImage{
    position: absolute;
    top: 17%;
    left: 50%;
    max-height: 50%;
    max-width: 70%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 50%;
    border-radius: 20px;
    box-shadow: 0 24px 28px rgba(0, 0, 0, 0.5);
  }
  
  ion-range {
    flex-grow: 1;
  }

  .songTitle{
    margin-top: 50%;
    color: black;
  }

  .songOwner{
    margin-top: -1%;
    color: black;
  }

  .progress-container {
    display: flex;
    align-items: center;
    width: 90%;

    .currentSongTime{
      margin-right: 2%;
    }

    .currentSongDuration{
      margin-left: 2%;
    }

    span {
      font-size: 14px;
      color: black;
      width: 40px;
      text-align: center;
    }

    .songProgressBar {
      --bar-background: rgb(201, 201, 201); 
      --bar-background-active: black; 
      --knob-background: black; 
    }
  }
  
  .playerControlsContainer{
    font-size: 40px;
    color: black;
    cursor: pointer;
  }
}

