<ion-content [fullscreen]="true">
  <div class="background">
    <img class="backgroundImage" src={{currentSongImage}}/>
  </div>
  <div class="songsList">
    <div (click)="playSongByIndex(i)" *ngFor="let song of songs; let i = index" class="songContainer">
      <img class="songImage" src={{songs[i].image}}/>
      <p class="songTitle">{{songs[i].title}}</p>
      <p class="songOwner">{{songs[i].artist}}</p>
    </div>
  </div>
  <div class="player">
    <img class="songImage" src={{currentSongImage}}/>
    <h1 class="songTitle">{{currentSongName}}</h1>
    <p class="songOwner">{{currentSongOwner}}</p>
    <div class="progress-container">
      <span class="currentSongTime">{{ formatTime(currentTimeOfTheSong!) }}</span>
      <ion-range class="songProgressBar" [(ngModel)]="progress" (ionChange)="seek($event)"></ion-range>
      <span class="currentSongDuration">{{ formatTime(currentSongDuration!) }}</span>
    </div>
    <div class="playerControlsContainer">
      <ion-icon (click)="previousSong()" name="play-skip-back" class="playerControl"></ion-icon>
      <ion-icon *ngIf="!isSongPlaying" (click)="playSong()" name="play" class="playerControl"></ion-icon>
      <ion-icon *ngIf="isSongPlaying" (click)="pauseSong()" name="pause" class="playerControl"></ion-icon>
      <ion-icon (click)="nextSong()" name="play-skip-forward" class="playerControl"></ion-icon>
    </div>
  </div>
</ion-content>
